@{
    ViewData["Title"] = "About us";
}
@*<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>*@


<html>
<body style="background-color:#B6BB85;">

    <h2 style="text-align:center;color:#2F3B1C;">A Little About us</h2>
 
    <p style="color:black;">
        Kaizen is a 5th generation green tea farming company situated in the village of Ouchijuku. They currently
        grow, prep and package 10 types of green teas
        </p>

    <div style="display:flex">
        <img src="~/images/farmers.jpg" style="width:300px;height:300px;" />
        <p>.<br/></p>
    <p style="color:black;">
        There is one plant that is needed for green tea but the key to creating the different teas is all in the<br/>
            details of the preparation of the tea. This is from the way the tea is grown, the time until it is <br />
            harvested and the way the leaves are processed thereafter. Green tea starts its fermentation process<br />
            immediately after the leaves have been plucked from the stem of the plant. There are many ways that the<br />
            leaves maybe prepared thereafter (Steamed or roasted). And this leads to the many different types of<br />
            green tea. Certain Types of green can only be harvested at certain times in the year, the season and the <br />
        environment playing a very important factor in the taste of the product.
        </p>
    </div>
    <p style="color:black;">
        <br />
        Kaizen originally grew and produced only 1 kind of green tea, sencha which is ‘the coffee in the morning
        in the Asian community. 5 generations later and they have expanded not only the number of green teas they
        plant and produce but have expanded their entire company.
    </p>

</body>

</html>